@use "./colors"as*;
@use "./breakpoints"as*;
@use "./mixins"as*;

.label {
    text-transform: uppercase;
    color: $secondary-text;
    font-size: .625rem;
    line-height: 1.25rem;
    font-weight: 700;
}

.button {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    background-color: $primary-dark-background;
    color: $primary-light-text;
    border-radius: .25rem;
    border: none;
    min-width: 100%;
    font-size: 1rem;
    line-height: 1rem;
    padding: .75rem 0;
    @include tablet {
        min-width: 9.375rem;
        padding: .75rem 3rem;
    }

    &:hover{
        background-color: $cta-hover;
    }
}