// primary colors
$primary-dark-text: #323232;
$primary-dark-background:#323232;
$secondary-text: #AFAFAF;
$primary-light-text: #ffffff;
$primary-light-background:#ffffff;

//secondary colors
$cta-hover: #000000;
$divider-outline: #E1E1E1;
$secondary-light-background: #FAFAFA;

$alpha: .5;