@use './colors'as*;
@use './breakpoints'as*;
@use './mixins'as*;

.footer {
    background-color: $primary-dark-background;
    
    padding: 1rem 0 1rem 0;
    @include tablet{
        padding: 2rem 0 2rem 0;
    }

    &__wrapper {
        @include width;
        margin: 0 auto;
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: baseline;
        }
    }

    &__title {
        color: $primary-light-text;
        padding: 1rem 0 1rem 0;
        @include tablet {
            padding: 3rem 0 1rem 0;
            flex-basis: 34.5%;
            max-width: 17rem;
            order: -1;
        }
    }

    &__socials {
        @include tablet {
            order: -1;
        }
    }

    &__contacts {
        color: $primary-light-text;
        width: 100%;
        padding: 1rem 0 2rem 0; //margin?
        @include tablet {
            display: flex;
            justify-content: space-between;
            max-width: 50rem;
        }        
    }

    &__logo {
        padding-top: 1rem;
        @include tablet{
            padding-top: 3rem;
            flex-basis: 7.5rem;
            order: -1;
            margin-left: auto;
        }
    }

    &__copyright {
        color: $primary-light-text;
        font-weight: 600;
        font-size: .625rem;
        padding-top: 1rem;
        @include tablet{
            flex-basis: 100%;
            font-size: .875rem;
            padding: 0;
        }
    }
}

.social {
    margin-right: 1.5rem;
    
    &__icon {
        height: 1.5rem;
    }
}

.agency {
    color: $primary-light-text;
    @include tablet {
    flex-basis: 16rem;

    &:nth-child(2){
            margin-left: 1rem 0 1rem 0;
        }
    }

    &__person {
        color: $primary-light-text;
        font-weight: 600;
    }

    &__line {
        color: $primary-light-text;
        margin-top: 1rem;
        @include tablet {
            margin-top: 2rem;
        }
    }
    &__address {
        color: $primary-light-text;
    }

    &__email {
        display: block;
        color: $primary-light-text;
        width: 100%;
        margin: 1rem 0 1rem 0;
        @include tablet {
            margin-top: 2rem;
        }
    }
}