@use "./colors" as*;
@use "./breakpoints" as*;
@use "./logo";
@use "./mixins" as*;

.header {
    background-color: $primary-dark;
    width: 100%;
    
    &__wrapper {
        @include change-direction;
        align-items: center;
        padding-top: .5rem;
        @include tablet {
            flex-direction: row;
            margin: 0 auto;
            padding-top: 1.5rem;
            width: $tablet-edge;
            max-width: $desktop-width;
        }
    }
    
    &__link {
        margin: .75rem 0;
        @include tablet {
            margin: 0 2rem 1rem 0;
        }
    }
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
    &__list {
        list-style: none;
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
    }

    &__item {
        flex-basis: 50%;
        @include tablet {
            flex-basis: 15%;
        } 
    }

    &__link {
        display: block;
        margin: 0 auto;
        color: $secondary-light;
        padding-bottom: .5rem;

        &--active {
            border-bottom: .25rem solid $primary-light;
            color:$primary-light;
            font-weight: 700;
        }

        &:hover {
            border-bottom: .25rem solid $primary-light;
            color:$primary-light;
            font-weight: 600;
        }

        @include tablet {
            width: fit-content;
            padding-bottom: 1rem;
        }
    }
}