@use "./colors" as *;
@use "./breakpoints" as *;
@use "./mixins" as *;


@mixin hero-height{
    height: 70vw;
    max-height: 60vh;
    min-height: 22rem;
}

.hero {
    @include hero-height; 
    background-size: cover;
    width: 100%;
     
    &__overlay {
        background-color: rgba($primary-dark-background, $alpha);
        @include hero-height; 
        width: 100%;
    }

    &__wrapper {
        @include hero-height;
        width: $mobile-edge;
        margin: 0 auto;

        @include tablet {
            width: $tablet-edge;
        }
        @include desktop {
            width: $desktop-width;
        }
    }
    
    
    // &::after{
    //     content: "";
    //     position: absolute;
    //     height: 100%;
    //     width: 100%;
    //     background-color: rgba($primary-dark, $alpha);
    //     @include tablet {
    //         top: 0;
    //         left: 0;
    //     }
    // }
}