@use "./colors" as *;
@use "./breakpoints" as *;
@use "./mixins" as *;

.hero {
    background-size: cover;

    display: flex;
    align-items: center;  
    height: 70vw;
    max-height: 60vh;
    @include tablet;
    
    
    // &::after{
    //     content: "";
    //     position: absolute;
    //     height: 100%;
    //     width: 100%;
    //     background-color: rgba($primary-dark, $alpha);
    //     @include tablet {
    //         top: 0;
    //         left: 0;
    //     }
    // }
}