@use "./breakpoints" as*;

// @mixin width ($empty-space) {
//     max-width: calc(100% - $empty-space);
// }

$mobile-edge: calc(100% - 2rem);
$tablet-edge: calc(100% - 4.5rem);
$desktop-width: 75.5rem;

@mixin width {
    max-width: $mobile-edge;
    @include tablet {
        max-width: $tablet-edge;
    }
    @include desktop {
        max-width: $desktop-width
    }
}