@use './breakpoints' as*;
@use './colors' as*;

body, input, textarea {
    font-family: "Avenir Next";
}

h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    @include tablet {
        font-size: 3.75rem;
        line-height: 4.25rem;
    }
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    @include tablet {
        font-size: 2.25rem;
        line-height: 2.75rem;
    }
}

h3 {
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 600;
    @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

p, span, a, input, textarea {
    font-size: .8125rem;
    line-height: 1.125rem;
    @include tablet {
        font-size: .875rem;
        line-height: 1.375rem;
    }
}