*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.woff2), url(../../assets/fonts/AvenirNextLTPro-Regular.woff);
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.woff2), url(../../assets/fonts/AvenirNextLTPro-Demi.woff);
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.woff2), url(../../assets/fonts/AvenirNextLTPro-Bold.woff);
  font-weight: 700;
}
body {
  font-family: "Avenir Next";
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

p, span, a {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  p, span, a {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.logo {
  max-width: 7.5rem;
  max-height: 1.25rem;
  background-color: #323232;
}

.header {
  background-color: #323232;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    flex-direction: row;
    margin: 0 auto;
    padding-top: 1.5rem;
    width: calc(100% - 4.5rem);
    max-width: 65rem;
  }
}
.header__link {
  margin: 0.75rem 0;
}
@media screen and (min-width: 768px) {
  .header__link {
    margin: 0;
    padding-bottom: 1rem;
    padding-right: 2rem;
  }
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.nav__list {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
}
.nav__item {
  flex-basis: 50%;
}
@media screen and (min-width: 768px) {
  .nav__item {
    flex-basis: 15%;
    margin: 0 2rem;
  }
}
.nav__link {
  display: block;
  margin: 0 auto;
  color: #FAFAFA;
  padding-bottom: 0.5rem;
}
.nav__link--active {
  border-bottom: 0.25rem solid #ffffff;
  color: #ffffff;
  font-weight: 700;
}
.nav__link:hover {
  border-bottom: 0.25rem solid #ffffff;
  color: #ffffff;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .nav__link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 1rem;
  }
}

.footer {
  background-color: #323232;
  color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 2rem;
  }
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 2rem);
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    max-width: calc(100% - 4.5rem);
  }
}
@media screen and (min-width: 1280px) {
  .footer__wrapper {
    max-width: 65rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
}
.footer__title {
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__title {
    padding-top: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__title {
    flex-basis: 34.5%;
    max-width: 17rem;
    order: -1;
  }
}
.footer__socials {
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__socials {
    padding-top: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__socials {
    order: -1;
  }
}
.footer__contacts {
  width: 100%;
  padding-top: 1rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__contacts {
    padding-top: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__contacts {
    display: flex;
    justify-content: space-between;
    max-width: 50rem;
  }
}
.footer__logo {
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    padding-top: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__logo {
    flex-basis: 7.5rem;
    order: -1;
    margin-left: auto;
  }
}
.footer__copyright {
  font-weight: 600;
  font-size: 0.625rem;
  padding-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    flex-basis: 100%;
    font-size: 0.875rem;
    padding: 0;
  }
}

.social__icon {
  height: 1.5rem;
}
.social__link {
  margin-right: 1.5rem;
}

@media screen and (min-width: 768px) {
  .card {
    flex-basis: 16rem;
  }
  .card:nth-child(2) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.card__person {
  font-weight: 600;
}
.card__line {
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .card__line {
    margin-top: 2rem;
  }
}
.card__email {
  display: block;
  color: #ffffff;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .card__email {
    margin-top: 2rem;
  }
}

.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  height: 50vw;
  max-height: 60vh;
}
.hero__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(50, 50, 50, 0.5);
}
.hero__title {
  font-weight: 600;
  width: calc(100% - 2rem);
  color: #ffffff;
  z-index: 1;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: calc(100% - 4.5rem);
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    width: 65rem;
  }
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__container {
  max-width: calc(100% - 2rem);
}
@media screen and (min-width: 768px) {
  .about__container {
    max-width: calc(100% - 4.5rem);
  }
}
@media screen and (min-width: 1280px) {
  .about__container {
    max-width: 65rem;
  }
}
.about__wrapper {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .about__wrapper {
    padding: 0 10%;
  }
}
@media screen and (min-width: 768px) {
  .about__copy {
    display: flex;
    justify-content: space-between;
  }
}
.about__column {
  padding-bottom: 1rem;
  flex-basis: 48%;
}
@media screen and (min-width: 768px) {
  .about__column {
    padding-bottom: 2rem;
  }
}
.about__title {
  font-weight: 600;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .about__title {
    padding-top: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .about__title {
    padding-bottom: 2rem;
  }
}
.about__img {
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .about__img {
    padding-bottom: 2rem;
  }
}
.about__quote {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: normal;
}
@media screen and (min-width: 768px) {
  .about__quote {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__quote {
    max-width: 48ch;
  }
}
.about__source {
  font-weight: 600;
  font-size: 1rem;
  padding-top: 0.5rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 768px) {
  .about__source {
    font-weight: 700;
  }
}
.about__subtitle {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .about__subtitle {
    padding-top: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .about__subtitle {
    padding-bottom: 2rem;
  }
}

.gallery {
  background-color: #FAFAFA;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-bottom: 1rem;
  }
}
.gallery__wrapper {
  max-width: calc(100% - 2rem);
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .gallery__wrapper {
    max-width: calc(100% - 4.5rem);
  }
}
@media screen and (min-width: 1280px) {
  .gallery__wrapper {
    max-width: 65rem;
  }
}
.gallery__title {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    padding-top: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .gallery__title {
    padding-bottom: 2rem;
  }
}
.gallery__photogrid {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .gallery__photogrid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.gallery__img {
  width: 100%;
  aspect-ratio: 16/9;
  filter: grayscale(100%);
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__img {
    width: calc(33.3333333333% - 0.75rem);
  }
}
@media screen and (min-width: 1280px) {
  .gallery__img {
    margin-bottom: 1.5rem;
    width: calc(33.3333333333% - 1rem);
  }
}
.gallery__img:hover {
  filter: none;
}/*# sourceMappingURL=bio.css.map */