@use "./partials/resets";
@use "./partials/fonts";
@use "./partials/breakpoints" as*;
@use "./partials/typography";
@use "./partials/colors" as*;
@use "./partials/header";
@use "./partials/logo";
@use "./partials/footer";
@use "./partials/mixins" as*;
@use "./partials/hero";
@use "./partials/buttons-and-labels";

.hero {
    background-image: url('../assets/images/hero-bio.jpg');
    position: relative;
    &::after{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba($primary-dark, $alpha);
        @include tablet {
            top: 0;
            left: 0;
        }
    }

    &__title {
        font-weight: 600;
        width: $mobile-edge;
        color: $primary-light;
        z-index: 1;
        margin: 0 auto;
        @include tablet {
            width: $tablet-edge;
        }
        @include desktop {
            width: $desktop-width;
        }
    }
}

.about {
    width: 100%;
    @include change-direction;
    align-items: center;
    
    &__container{
        @include width;
    }
    
    &__wrapper{
        margin: 0 auto;
        @include tablet {
            padding: 0 10%;
        }
    }

    &__copy{
        @include tablet {
            display: flex;
            justify-content: space-between;
        } 
    }

    &__column {
        @include bottom-space;
        flex-basis: 48%;
    }

    &__title {
        font-weight: 600;
        @include top-space;
        @include bottom-space;
    }

    &__img {
        display: block;
        width: 100%;
        aspect-ratio: 16/9;
        @include bottom-space;
    }

    &__quote{
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: normal;
    
        @include tablet {
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 2rem;
        }

        @include desktop {
            max-width: 48ch;
        }
    }
    
    &__source{
        font-weight: 600;
        font-size: 1rem;
        padding-top: .5rem;
        line-height: 1.5rem;
        @include tablet {
            font-weight: 700;
        }
    }

    &__subtitle {
        @include top-space;
        @include bottom-space;
    } 
}

.gallery {
    background-color: $secondary-light;
    @include tablet {
        padding-bottom: 1rem;
    }

    &__wrapper {
        @include width;
        margin: 0 auto;
    }

    &__title {
        @include top-space;
        @include bottom-space;
    }

    &__photogrid {
        @include change-direction;
        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    
    &__img {
        width: 100%;
        aspect-ratio: 16/9;
        filter: grayscale(100%);
        margin-bottom: 1rem;
        @include tablet {
            width: calc((100%/3) - .75rem);
        }
        @include desktop {
            margin-bottom: 1.5rem;
            width: calc((100%/3) - 1rem);
        }
        &:hover {
            filter: none;
        }
    }
}

.comments {
    @include bottom-space;
    @include top-space;
    &__container {
        @include width;
        margin: 0 auto;
    }

    &__title {
        flex-basis: 100%;
        @include bottom-space;
    }
    &__display{
        width: 100%;
        max-width: 37.5rem;
        margin: 0 auto;
        padding: 0 1rem;
        @include tablet {
            padding: 0 2.25rem;
        }
        @include desktop {
            padding: 0;
            
        }
    }
    

}

.form {
    display: flex;
    margin: 0 auto;
    @include bottom-space;
    border-bottom: .0625rem solid $secondary-mid;
    width: 100%;
    max-width: 37.5rem;
    padding: 0 1rem 1rem 1rem;
    @include tablet {
        padding: 0 2.25rem;
    }
    @include desktop {
        padding: 0 0 1rem 0;
        
    }

    &__image {
        padding-top: 1.25rem;
        display: flex;
        justify-content: flex-end;
        padding-right: 1rem;
    }

    &__avatar {
        object-fit: cover;
        object-position: left;
        height: 2.25rem;
        width: 2.25rem;
        border-radius: 50%;
        @include tablet {
            height: 3rem;
            width: 3rem;
        }
    }

    &__inputs {
        width: 100%;
        @include change-direction;
    }

    &__label {
        @include change-direction;
        @include bottom-space;
    }
    &__field{
        padding: .75rem;
        font-weight: 600;
        background-color: $secondary-light;
        border: .0625rem solid $secondary-mid;
        border-radius: .25rem;

        &::placeholder {
            color: $secondary-dark;
            opacity: 1;
        }
        &:active, &:focus {
            outline-color: $secondary-dark;
            background: $secondary-light;
        }
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:active,
        &:-webkit-autofill:focus {
            -webkit-box-shadow: 0 0 0 6.25rem $secondary-light inset;
        }

        &--comment {
            height: 4.5rem;
        }
    }

    &__button {
        align-self: flex-end;
    }

}

.comment {    
    display: flex;
    padding: 1rem 0;
    border-bottom: .0625rem solid $secondary-mid;
    &__info{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__image{
        padding-right: 1rem;
    }
    &__avatar {
        background-color: $secondary-mid;
        object-fit: cover;
        object-position: left;
        height: 2.25rem;
        width: 2.25rem;
        border-radius: 50%;
        @include tablet {
            height: 3rem;
            width: 3rem;
        }
    }
    &__name {
        font-size: .8125rem;
        line-height: 1.125rem;
        @include tablet {
        font-size: .875rem;
        line-height: 1.375rem;
        }
    }
    &__date {
        color: $primary-mid;
        font-size: .8125rem;
        font-weight: 600;
        @include tablet {
            font-size: .875rem;
        }
    }
    &__content {
        flex-basis: 100%;
        text-align: justify;
        padding-top: .5rem;
    }
}