@use "./partials/resets";
@use "./partials/fonts";
@use "./partials/breakpoints" as*;
@use "./partials/typography";
@use "./partials/colors" as*;
@use "./partials/header";
@use "./partials/logo";
@use "./partials/footer";
@use "./partials/mixins" as*;
@use "./partials/hero";
@use "./partials/buttons-and-labels";

.hero {
    background-image: url('../assets/images/hero-shows.jpg');
    min-height: 10rem;
    height: 70vw;
    max-height: 60vh;
    min-height: 20rem;
    @include tablet {
        min-height: 26rem;
    }
    
    &__wrapper {
        @include change-direction;
        justify-content: center;
        width: $mobile-edge;
        margin: 0 auto;
        z-index: 1;
        @include top-space;
        @include bottom-space;
        @include tablet {
            width: $tablet-edge;
        }
        @include desktop {
            width: $desktop-width;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
        }
    }

    &__text {
        @include change-direction;
        
    }
    &__title {
        font-size: 1.5rem;
        line-height: 2rem;
        width: 16ch;
        font-weight: 600;
        color: $primary-light;
        @include top-space;
        @include bottom-space;

        @include tablet {
            font-size: 3.75rem;
            line-height: 4.25rem;
        }

        @include desktop {
            width: 13ch;
            padding-top: 2rem;
        }
    }
    &__subtitle {
        @include top-space;
        font-weight: 600;
        color: $primary-light;
    }

    &__embed {
        height: 8rem;
        width: 100%;
        @include bottom-space;

       @include tablet {
        width: 60%;
       }

       @include desktop {
        height: 10rem;
        width: 38%;
       }
    }
}

.shows {
    max-width: $mobile-edge;
    margin: 0 auto;

    @include desktop {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: flex-end;
        padding-bottom: 2rem;
    }
    
    &__title {
        font-size: 1.5rem;
		line-height: 2rem;
		font-weight: 700;
		@include top-space;
		@include bottom-space;
        
        @include tablet {
        padding-left: 1rem;
		font-size: 2.25rem;
		line-height: 2.75rem;
        }
        @include desktop {
            flex-basis: 25%;
        }
    }

    &__labels {
        display: none;
        @include tablet {
            padding: 1rem;
            display: flex;
        }
        @include desktop {
            flex-basis: 75%;
        }
    }

    &__label {
        @include tablet{
            font-weight: 600;
            flex-basis: 25%;
            &:last-child {
                flex-basis: 50%;
            }
        }
        
    }

    &__container {
        @include desktop {
            flex-basis: 75%;
        }
    }
}

.show {
    border-bottom: .0625rem solid $secondary-mid;
    padding-bottom: 1rem;
    @include tablet {
        padding: 1rem;
        display: flex;
        align-items: center;
    }

    &__label {
        margin: 0 auto;
        display: block;
        @include tablet {
            display: none;
        }
    }

    &__info {
        max-width: $mobile-edge;
        padding-bottom: 1rem;
        @include tablet {
            flex-basis: 25%;
            padding-bottom: 0;
        }

        &--date {
            font-weight: 600;
        }
    }

    &__button {
        @include width;
        margin: 0 auto;
    }
}