*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body, h1, h2, h3, h4, p, ul {
  margin: 0;
  color: #323232;
}

@font-face {
  font-family: "Avenir Next";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.woff2), url(../assets/fonts/AvenirNextLTPro-Regular.woff);
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.woff2), url(../assets/fonts/AvenirNextLTPro-Demi.woff);
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.woff2), url(../assets/fonts/AvenirNextLTPro-Bold.woff);
  font-weight: 700;
}
body, input, textarea {
  font-family: "Avenir Next";
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

p, span, a, input, textarea {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  p, span, a, input, textarea {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.logo {
  max-width: 7.5rem;
  max-height: 1.25rem;
  background-color: #323232;
}

.header {
  background-color: #323232;
  width: 100%;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(100% - 2rem);
  margin: 0 auto;
  padding-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    max-width: calc(100% - 4.5rem);
  }
}
@media screen and (min-width: 1280px) {
  .header__wrapper {
    max-width: 65rem;
  }
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    flex-direction: row;
    margin: 0 auto;
    padding-top: 1.5rem;
  }
}
.header__link {
  margin: 0.75rem 0;
}
@media screen and (min-width: 768px) {
  .header__link {
    margin: 0 2rem 1rem 0;
  }
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.nav__list {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
}
.nav__item {
  flex-basis: 50%;
}
@media screen and (min-width: 768px) {
  .nav__item {
    flex-basis: 15%;
  }
}
.nav__link {
  display: block;
  margin: 0 auto;
  color: #AFAFAF;
  padding-bottom: 0.5rem;
}
.nav__link--active {
  border-bottom: 0.25rem solid #ffffff;
  color: #ffffff;
  font-weight: 700;
}
.nav__link:hover {
  border-bottom: 0.25rem solid #ffffff;
  color: #ffffff;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .nav__link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 1rem;
  }
}

.footer {
  background-color: #323232;
  padding: 1rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 2rem 0 2rem 0;
  }
}
.footer__wrapper {
  max-width: calc(100% - 2rem);
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    max-width: calc(100% - 4.5rem);
  }
}
@media screen and (min-width: 1280px) {
  .footer__wrapper {
    max-width: 65rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
}
.footer__title {
  color: #ffffff;
  padding: 1rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer__title {
    padding: 3rem 0 1rem 0;
    flex-basis: 34.5%;
    max-width: 17rem;
    order: -1;
  }
}
@media screen and (min-width: 768px) {
  .footer__socials {
    order: -1;
  }
}
.footer__contacts {
  color: #ffffff;
  width: 100%;
  padding: 1rem 0 2rem 0;
}
@media screen and (min-width: 768px) {
  .footer__contacts {
    display: flex;
    justify-content: space-between;
    max-width: 50rem;
  }
}
.footer__logo {
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    padding-top: 3rem;
    flex-basis: 7.5rem;
    order: -1;
    margin-left: auto;
  }
}
.footer__copyright {
  color: #ffffff;
  font-weight: 600;
  font-size: 0.625rem;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    flex-basis: 100%;
    font-size: 0.875rem;
    padding: 0;
  }
}

.social {
  margin-right: 1.5rem;
}
.social__icon {
  height: 1.5rem;
}

.agency {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .agency {
    flex-basis: 16rem;
  }
  .agency:nth-child(2) {
    margin-left: 1rem 0 1rem 0;
  }
}
.agency__person {
  color: #ffffff;
  font-weight: 600;
}
.agency__line {
  color: #ffffff;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .agency__line {
    margin-top: 2rem;
  }
}
.agency__address {
  color: #ffffff;
}
.agency__email {
  display: block;
  color: #ffffff;
  width: 100%;
  margin: 1rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .agency__email {
    margin-top: 2rem;
  }
}

.hero {
  height: 70vw;
  max-height: 60vh;
  min-height: 22rem;
  background-size: cover;
  width: 100%;
}
.hero__overlay {
  background-color: rgba(50, 50, 50, 0.5);
  height: 70vw;
  max-height: 60vh;
  min-height: 22rem;
  width: 100%;
}
.hero__wrapper {
  height: 70vw;
  max-height: 60vh;
  min-height: 22rem;
  width: calc(100% - 2rem);
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .hero__wrapper {
    width: calc(100% - 4.5rem);
  }
}
@media screen and (min-width: 1280px) {
  .hero__wrapper {
    width: 65rem;
  }
}

.label {
  text-transform: uppercase;
  color: #AFAFAF;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
}

.button {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  background-color: #323232;
  color: #ffffff;
  padding: 0.825rem 1.875rem 0.625rem 1.875rem;
  border-radius: 0.25rem;
  border: none;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .button {
    font-size: 0.75rem;
  }
}
.button:hover {
  background-color: #000000;
}

.hero {
  background-image: url("../assets/images/hero-shows.jpg");
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
}
@media screen and (min-width: 1280px) {
  .hero__wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.hero__text {
  display: flex;
  flex-direction: column;
}
.hero__title {
  font-size: 1.5rem;
  line-height: 2rem;
  width: 16ch;
  font-weight: 600;
  color: #ffffff;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    width: 13ch;
  }
}
.hero__subtitle {
  font-weight: 600;
  color: #ffffff;
}
.hero__embed {
  height: 8rem;
  width: 100%;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__embed {
    margin-top: 2rem;
    width: 60%;
  }
}
@media screen and (min-width: 1280px) {
  .hero__embed {
    width: 38%;
  }
}

.shows {
  margin: 0 auto;
  max-width: calc(100% - 2rem);
}
@media screen and (min-width: 768px) {
  .shows {
    max-width: calc(100% - 4.5rem);
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    max-width: 65rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-end;
    padding-bottom: 2rem;
  }
}
.shows__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .shows__title {
    padding-top: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .shows__title {
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .shows__title {
    padding-left: 1rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__title {
    flex-basis: 25%;
  }
}
.shows__labels {
  display: none;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .shows__labels {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .shows__labels {
    margin-left: 0;
    flex-basis: 75%;
  }
}
.shows__date {
  flex-basis: 30%;
}
.shows__venue {
  flex-basis: 20%;
}
.shows__location {
  flex-basis: 50%;
}
@media screen and (min-width: 1280px) {
  .shows__container {
    flex-basis: 75%;
  }
}

.show {
  border-bottom: 0.0625rem solid #E1E1E1;
  padding: 1rem 0;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .show {
    padding: 1.5rem 1.125rem;
    display: flex;
    align-items: center;
  }
}
.show:hover {
  background-color: #FAFAFA;
}
.show--selected {
  background-color: #E1E1E1;
}
.show--selected:hover {
  background-color: #E1E1E1;
}
.show__label {
  margin: 0 auto;
  display: block;
}
@media screen and (min-width: 768px) {
  .show__label {
    display: none;
  }
}
.show__date {
  padding-bottom: 1rem;
  font-weight: 600;
  flex-basis: 30%;
}
.show__venue {
  padding-bottom: 1rem;
  flex-basis: 20%;
}
.show__location {
  padding-bottom: 1rem;
  flex-basis: 25%;
}
@media screen and (min-width: 768px) {
  .show__button {
    flex-basis: 25%;
    min-width: 9.375rem;
  }
}/*# sourceMappingURL=shows.css.map */