@use "./partials/resets";
@use "./partials/fonts";
@use "./partials/breakpoints" as*;
@use "./partials/typography";
@use "./partials/colors" as*;
@use "./partials/header";
@use "./partials/logo";
@use "./partials/footer";
@use "./partials/mixins" as*;
@use "./partials/hero";
@use "./partials/buttons-and-labels";

.hero {
    background-image: url('../assets/images/hero-shows.jpg');
    
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 0;
        @include desktop {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__text {
        @include change-direction;
    }
    
    &__title {
        font-size: 1.5rem;
        line-height: 2rem;
        width: 16ch;
        font-weight: 600;
        color: $primary-light-text;
        margin-top: 1rem;
        @include tablet {
            font-size: 3.75rem;
            line-height: 4.25rem;
        }
        @include desktop {
            width: 13ch;
        }
    }

    &__subtitle {
        font-weight: 600;
        color: $primary-light-text;
    }

    &__embed {
        height: 8rem;
        width: 100%;
        margin-top: 1rem;

       @include tablet {
        margin-top: 2rem;
        width: 60%;
       }

       @include desktop {
        width: 38%;
       }
    }
}

.shows {
    margin: 0 auto;
    @include width;

    @include desktop {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: flex-end;
        padding-bottom: 2rem;
    }
    
    &__title {
        font-size: 1.5rem;
		line-height: 2rem;
		font-weight: 700;
		@include top-space;
		@include bottom-space;

        @include tablet {
        padding-left: 1rem;
		font-size: 2.25rem;
		line-height: 2.75rem;
        }

        @include desktop {
            flex-basis: 25%;
        }
    }

    &__labels {
        display: none;
        padding: 0 1rem;

        @include tablet {
            display: flex;
        }
        
        @include desktop {
            margin-left: 0;
            flex-basis: 75%;
        }
    }

    &__date {
        flex-basis: 30%;
    }

    &__venue {
        flex-basis: 20%;
    }

    &__location {
        flex-basis: 50%;
    }

    &__container {
        @include desktop {
            flex-basis: 75%;
        }
    }
}

.show {
    border-bottom: .0625rem solid $divider-outline;
    padding: 1rem 0;
    cursor: pointer;
    @include tablet {
        padding: 1.5rem 1.125rem;
        display: flex;
        align-items: center;
    }

    &:hover {
        background-color: $secondary-light-background;
    }

    &--selected {
        background-color: $divider-outline;
        &:hover {
            background-color: $divider-outline;
        }
    }

    &__label {
        margin: 0 auto;
        display: block;
        @include tablet {
            display: none;
        }
    }

    &__date {
        padding-bottom: 1rem;
        font-weight: 600;
        flex-basis: 30%;
    }

    &__venue {
        padding-bottom: 1rem;
        flex-basis: 20%;
    }

    &__location {
        padding-bottom: 1rem;
        flex-basis: 25%;
    }

    &__button {
        @include tablet {
            flex-basis: 25%;
            min-width: 9.375rem;
        }
    }
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;

    &__text {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    &__image {
        width: 10vw;
        margin-bottom: 2rem;
    }
}