@use "./partials/header";
@use "./partials/resets";
@use "./partials/fonts";
@use "./partials/typography";
@use "./partials/colors" as *;
@use "./partials/breakpoints" as *;
@use "./partials/footer";
@use "./partials/buttons-and-labels";

.hero {
    background-image: url('../assets/images/hero-shows.jpg');
    background-size: cover;
    background-position: center 30%;
    width: 100%;
    height: 70vw;
    max-height: 60vh;
    min-height: 20rem;
    @include tablet {
        min-height: 32rem;
    }
    @include desktop {
        max-height: 75vh;
    }
    
    &__overlay {
        background-color: rgba($primary-dark-background, $alpha); 
        width: 100%;
        height: 70vw;
        max-height: 60vh;
        min-height: 20rem;
        @include tablet {
        min-height: 32rem;
        }
        @include desktop {
            max-height: 75vh;
        }
    }

    &__wrapper {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 70vw;
        max-height: 60vh;
        min-height: 20rem;
        padding: 0 1rem;

        @include tablet {
            min-height: 32rem;
            padding: 0 2.25rem;
        }

        @include desktop {
            padding: 0;
            max-width: 65rem;
            flex-direction: row;
            align-items: center; 
            justify-content: space-between;
            max-height: 75vh;
        }
    }
    
    &__text {
        display: flex;
        flex-direction: column;
    }
    
    &__title {
        font-size: 1.5rem;
        line-height: 2rem;
        width: 16ch;
        font-weight: 600;
        color: $primary-light-text;
        margin-top: 1rem;
        @include tablet {
            font-size: 3.75rem;
            line-height: 4.25rem;
        }
        @include desktop {
            width: 13ch;
        }
    }

    &__subtitle {
        font-weight: 600;
        color: $primary-light-text;
    }

    &__embed {
        height: 8rem;
        width: 100%;
        margin-top: 1rem;

       @include tablet {
        margin-top: 2rem;
        width: 60%;
       }

       @include desktop {
        width: 38%;
       }
    }
}

.shows {
    padding-bottom: 1rem;
    @include tablet {
        padding: 1rem;
        margin: 1rem auto;
    }
    @include desktop {
        max-width: 67rem;
        padding: 0;
        margin: 0 auto;
    }

    @include desktop {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: flex-end;
        padding-bottom: 2rem;
    }
    
    &__title {
        font-size: 1.5rem;
		line-height: 2rem;
		font-weight: 700;
        margin: 1rem;

        @include tablet {
            margin: 1rem 0;
            padding-left: 1rem;
            font-size: 2.25rem;
            line-height: 2.75rem;
        }

        @include desktop {
            flex-basis: 17rem;
        }
    }

    &__labels {
        display: none;
        padding: 0 1rem;

        @include tablet {
            display: flex;
        }
        
        @include desktop {
            margin-left: 0;
            flex-basis: calc(100% - 17rem);
        }
    }

    &__date {
        flex-basis: 30%;
        @include desktop {
            flex-basis: calc(75% - 16rem);
        }
    }

    &__venue {
        flex-basis: 20%;
        @include desktop {
            flex-basis: 13rem;
        }
    }

    &__location {
        flex-basis: 50%;
    }

    &__container {
        @include desktop {
            flex-basis: calc(100% - 17rem);
        }
    }
}

.show {
    border-bottom: .0625rem solid $divider-outline;
    padding: 1rem;
    cursor: pointer;
    @include tablet {
        padding: 1.5rem 1.125rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &:hover {
        background-color: $secondary-light-background;
    }

    &--selected {
        background-color: $divider-outline;
        &:hover {
            background-color: $divider-outline;
        }
    }

    &__label {
        margin: 0 auto;
        display: block;
        @include tablet {
            display: none;
        }
    }

    &__date {
        padding-bottom: 1rem;
        font-weight: 600;
        flex-basis: 30%;
        @include desktop {
            flex-basis: calc(75% - 17.5rem);
        }
    }

    &__venue {
        padding-bottom: 1rem;
        flex-basis: 20%;
        @include desktop {
            flex-basis: 12rem;
        }
    }

    &__location {
        padding-bottom: 1rem;
        flex-basis: 25%;
    }

    &__button {
        @include tablet {
            flex-basis: 20%;
            padding: .75rem 0;
        }
    }
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;

    &__text {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    &__image {
        width: 10vw;
        margin-bottom: 2rem;
    }
}
    





